
/* background-color
background-image
background-position
background-size
background-repeat
background-origin
background-clip
background-attachment */


h1 {
    background-color: green;
    color : rgb(85, 17, 17)
  }

  p{
    color : rgb(255,255 , 255)
  }